/* Stylesheet*/

body{
    display: flex;
    background-color: #707070;
    height: 100vh;
    width: auto;
    align-items: center;
    justify-content: center;
}

#container{
    width: 600px;
    height: 600px;
    background-color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    margin-top: 12vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.box{
    height:6.25%;
    width:6.25%;
    border: .5px solid black;
    flex-grow: 1;
    box-sizing: border-box;
}

.box:hover{
    background-color: black;
}

.sketched{
    background-color: black;
}